*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

header{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 2rem;
        font-weight: 100;
    }
}


main{
    width: 100%;
    height: 80vh;
    border: solid red 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2em;

    h2{
        border: solid green;
        font-size: 1.5rem;
        margin: 2rem;
    };

    p{
        border: solid cyan;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }

    // img{
    //     width: 300px;
    // }

    .divergent{
        border: solid purple 2px;
        display: flex;
        justify-content: space-around;

        .boxSass{
            border: solid orangered;
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            // img{
            //     width: 200px;
            // }
        }

        .boxScss{
            border: solid yellow;
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            // img{
            //     width: 200px;
            // }
        }

        figcaption{
            font-size: .8rem;
            border: solid pink 2px;
            text-align: center;
        }
        figure{
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: columnx;
            img{
            width: 200px;
            }
        }
    }
}



